extends layout

block content
  h1 Coder 1.14 Environments are Smart...
  ul
    li 
      strong Environment Name: 
      span #{env.CODER_ENVIRONMENT_NAME}
    li 
      strong Image URI: 
      span #{env.CODER_IMAGE_URI}
    li 
      strong Max Memory: 
      span #{env.CODER_MEMORY_LIMIT} GB
    li 
      strong Max CPU Cores: 
      span #{env.CODER_CPU_LIMIT}
    hr
    li 
      strong Your username: 
      span #{env.CODER_USERNAME}
    li 
      strong Your email: 
      span #{env.CODER_USER_EMAIL} 
      a(href="#", onclick="alert(\"You could hook this up with some internal API, idk\");") (Add to service)
    hr
    form(name="create-workspace", action="/actions/create_workspace", method="post")
      input(name="name", placeholder="Environment name")
      | 
      select(name="image")
        each image, index in images
          option(value=image.name)= image.repository + ":" + image.default_tag.tag
      | 
      button(type="submit") Create new environment
    br
    br
    strong Run command on environent:
    | 
    input(placeholder="apt install ...")
    | 
    select
      each workspace, index in workspaces
        option(value=workspace.id)= workspace.name
    | 
    button(onclick="alert(\"I haven't gotten around to this yet, but it could work very easily by running another coder-cli with exec(): \\n\\n$ coder sh [env-name] [command]\")") Execute

